<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight"
        tools:targetApi="31">
        <activity
            android:name=".adsYear8Sem8"
            android:exported="false" />
        <activity
            android:name=".adsYear1Sem7"
            android:exported="false" />
        <activity
            android:name=".adsYear1Sem6"
            android:exported="false" />
        <activity
            android:name=".adsYear1Sem5"
            android:exported="false" />
        <activity
            android:name=".adsYear1sem4"
            android:exported="false" />
        <activity
            android:name=".adsYear3Sem3"
            android:exported="false" />
        <activity
            android:name=".adsYear2Sem2"
            android:exported="false" />
        <activity
            android:name=".adsYear1Sem1"
            android:exported="false" />
        <activity
            android:name=".eceSemester"
            android:exported="false" />
        <activity
            android:name=".itSemester"
            android:exported="false" />
        <activity
            android:name=".mechSemester"
            android:exported="false" />
        <activity
            android:name=".aidsSemester"
            android:exported="false" />
        <activity
            android:name=".cseSemester"
            android:exported="false" />
        <activity
            android:name=".home"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>